@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido a la aplicacion web de la ilustre municipalidad de llanquihue</h1>
    <p class="lead">para comenzar ingrese a su cuenta</p>
</div>

<div class="text-center">
    <h1 class="display-4">Aplicacion web Llanquihue a tu servicio</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Una aplicacion a tu servicio</a>.</p>
</div>
